.Home-content {
    padding-top: 77px;
    width: 1231px;
    margin: 0 auto;
    position: relative;
    top: 73px;
}

.Home-content h1 {
    text-align: left;
    margin: 19px 5px 19px 5px;
}
.Home-content img {
  width: 100%;
  display: flex;
}
.Home-content h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: '\A';
  background: linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  /* background: -moz-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  background: -webkit-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),to(rgba(16,22,35,.26)));
  background: -o-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  background: linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26)); */

}

.home-categories {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    width: 100%;
    margin: 0 auto;
    /* position: relative; */
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 195px;
    height: 140px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
  }

  .categories-container-wide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 605px;
    height: 205px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
  }
  .home-categories a { width: 100%; }

/* 음향효과 찾아보기 섹션 */
.browse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 297px;
  height: 145px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}
.Home-content h3:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: '\A';
  background: #e2ccff50;
  /* background: linear-gradient(to top,rgba(255, 255, 255, 0.486),#f5f4ff4b); */
  /* background: -moz-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  background: -webkit-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),to(rgba(16,22,35,.26)));
  background: -o-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
  background: linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26)); */
}

.home-categories h3 {
    color: #fff;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.03s cubic-bezier(0.8,0.2,0.1,1.6);
  }
.home-categories h3:hover {
  color: #202020;
  transition: color 0.03s cubic-bezier(0.8,0.2,0.1,1.6);
  }
  .home-categories span {
    z-index: 1;
    text-indent: 5px;
  }
/* 음향효과 찾아보기 탭 */
  .browse-tabs {
    display: flex;
    margin: 10px;
    width: 200px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
  }
  .tab-title {
    all: unset;
    padding: 7px 17px;
    border-bottom: 2px solid #1a1a1a;
    color: #aaaaaa;
  }

  .tags h3 {
    color: #202020;
    /* position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-indent: 5px; */
  }
  .tags-container h3::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    content: '\A';
    background: #fbfbff66;
    /* background: -moz-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
    background: -webkit-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),to(rgba(16,22,35,.26)));
    background: -o-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
    background: linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26)); */
  }
  .tags-container h3:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    content: '\A';
    background: #f5f4ff;
    /* background: linear-gradient(to top,rgba(255, 255, 255, 0.486),#f5f4ff4b); */
    /* background: -moz-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
    background: -webkit-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),to(rgba(16,22,35,.26)));
    background: -o-linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26));
    background: linear-gradient(to top,rgba(0,0,0,.8),rgba(16,22,35,.26)); */
  }
  /* tags container */
  .tags-container {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 5px;
    width: 297px;
    height: 67px;
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* overflow: hidden; */
    position: relative;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
  }

    /* 반응형 */
  @media (max-width: 1600px){
    .mainText {width: 1200px;}
  }
  @media (max-width: 1500px){
    .mainText {width: 1000px;}
    .mainText p {width: 310px;}
    .Home-content { 
      width: 1010px;
      flex-grow: 1;
      margin: 0 auto;
      /* transition: all 0.5s cubic-bezier(.38,.88,.38,.88); */      
    }
    .categories-container {
      width: 158px;
      height: 119px;
    }
    .categories-container-wide {
      width: 494px;
      height: 168px;
    }
    .browse-container, .tags-container {
      width: 242px;
    }
  }
  @media (max-width: 1250px){
    .mainText {width: 890px; }
    .Home-content { 
      width: 900px;
      flex-grow: 1;
      margin: 0 auto;
    }
    .categories-container {
      width: 140px;
      height: 105px;
    }
    .categories-container-wide {
      width: 440px;
      height: 150px;
    }
    .browse-container { 
      width: 215px;
      height: 130px; 
    }
    .tags-container { width: 215px;}
    .home-categories h3 { font-size: 14px; }
  }
  /* 태블릿 */
  @media (max-width: 1020px){
    .Home-mainContents { display: none; }
    .mainText {width: 650px; }
    .Home-mainImg {
        background-image: url(../images/main-img.jpg);
        width: 100%;
    }
    .Home-content { 
      width: 660px;
      flex-grow: 1;
      margin: 0 auto;
    }
    .categories-container {
      width: 210px;
      height: 140px;
    }
    .categories-container-wide {
      width: 650px;
      height: 165px;
    }
    .browse-container { 
      width: 320px; 
      height: 165px;
    }
    .tags-container { width: 320px;}
  }
  @media (max-width: 750px){
    .mainText { width: 470px; }
    .Home-content {
      width: 470px;
      flex-grow: 1;
      margin: 0 auto;
    }
    .categories-container {
      width: 222px;
      height: 140px;
    }
    .categories-container-wide, 
    .browse-container { 
      width: 455px; 
      height: 155px;
    }
    .tags-container { width: 222px;}
  }
  @media (max-width: 599px){
    .mainText { width: 400px; }
    .Home-content {
      width: 400px;
      flex-grow: 1;
      margin: 0 auto;
    }
    .categories-container {
      width: 190px;
      height: 110px;
    }
    .categories-container-wide {
      width: 390px;
      height: 132px;
    }
    .browse-container { 
      width: 455px; 
      height: 155px;
    }
    .tags-container { width: 455px;}
  }

  /* 블랙베리 모바일 */
  @media (max-width: 489px){
    .Home-header { height: 580px;}
    .Home-mainImg {
        height: 286px;
        overflow: hidden;
    }
  .Home-mainContents { 
      display: block; 
      position: relative; 
      width: 100%;
      height: 289px;
      background-color: #101010;
  }
  .mainText p {
      margin-bottom: 27px;
      width: 315px;
  }
  .mainText { 
      top: -269px; 
      width: 335px;
      padding: 0;
      margin: 0 auto;
  }
  .mainText h1 {
      font-size: 40px;
      width: 269px;
      margin: 0;
  }
  .mbtn {
      width: 335px;
      height: 51px;
  }
  #menu { padding-bottom: 31px; }

  .Home-content {
    width: 353px;
    flex-grow: 1;
    margin: 0 auto;
    padding-top: 30px;
    top: 68px;
  }
  .categories-container {
    width: 169px;
    height: 105px;
    margin: 3.5px;
  }
  .categories-container-wide {
    width: 345px;
    height: 112px;
    margin: 3.5px;
  }
  .browse-container { 
    width: 345px; 
    height: 145px;
  }
  .tags-container { width: 166px;}
}

  /* 모바일 */
  @media (max-width: 470px){
      .Home-mainImg {
          height: 286px;
      }
    .Home-mainContents { 
        display: block; 
        position: relative; 
        width: 100%;
        height: 269px;
        background-color: #101010;
    }
    .mainText { 
        top: -269px; 
        width: 335px;
        padding: 0;
        margin: 0 auto;
    }
    .mainText h1 {
        font-size: 40px;
        width: 269px;
        margin: 15px 0 4px 0;
    }
    .mbtn {
        width: 335px;
        height: 51px;
    }

    .Home-content {
      width: 353px;
      flex-grow: 1;
      margin: 0 auto;    
      padding-top: 30px;
      top: 48px;
    }
    .categories-container {
      width: 169px;
      height: 105px;
      margin: 3.5px;
    }
    .categories-container-wide {
      width: 345px;
      height: 112px;
      margin: 3.5px;
    }
    .browse-container { 
      width: 345px; 
      height: 145px;
    }
    .tags-container { width: 345px;}
  }

  /* 아이폰se 모바일 */
  @media (max-width: 369px){
    .App-header { height: 63px; }
    #menu { margin: 17px 0 0 -50px;}
    #search { top: 64px;}
    #searchToggle { font-size: 27px; }
    #menuToggle span { 
      width: 30px;
      transform-origin: 1px 0px;
    }

    .Home-header { 
      height: 470px;
      top: 53px;
    }

    .Home-mainImg {
      background-image: url(../images/iphoneSE.png);
      width: 100%;
      height: 160px;
    }
    .Home-mainContents { 
        display: block; 
        position: relative; 
        width: 100%;
        height: 247px;
        background-color: #101010;
    }
    .mainText { 
        top: -245px; 
        width: 270px;
        padding: 0;
        margin: 0 auto;
    }
    .mainText h1 {
        font-size: 33px;
        width: 240px;
        margin: 15px 0 4px 0;
    }
    .mbtn {
        width: 270px;
        height: 51px;
    }
    .mainText p {
      margin-bottom: 20px;
      width: 275px;
    }

    .Home-contents {
      position: relative;
      top: -10px;
    }
    .Home-content {
      width: 290px;
      flex-grow: 1;
      margin: 0 auto;
      top: 0;
    }
    .categories-container {
      width: 137px;
      height: 90px;
    }
    .categories-container-wide { 
      width: 282px; 
      height: 95px;
    }
    .browse-container { 
      width: 282px; 
      height: 115px;
    }
    .home-categories span { font-size: 12px;}
  }
  