
.Home-header {
    position: relative;
    width: 100%;
}

.Home-mainImg {
    width: 100%;
    height: 480px;
    background-image: url(../images/mainImage.png);
    overflow: hidden;
}

.Home-mainContents {
    position: absolute;
    top: 0;
    width: 50%;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mainText {
    padding: 112px 41px 113px 286px;
}
.mainText h1 {
  margin: 0 0 22px 0;
  width: 350px;
  height: 120px;
  font-family: Helvetica;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fefefe;
  text-align: left;
}
.mainText p {
    margin-bottom: 36px;
    width: 554px;
    height: 18px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.mainText button {
    all: unset;
    width: 167px;
    height: 59px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    color: #fff;
    display: flow-root;
    cursor: pointer;
}
.mainText button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


  /* media Quary */

  @media (max-width: 750px){
      
  }
  @media (max-width: 440px){
    .App-header {width: 100%;}
    .search-input {border: none;}
  }