#searchToggle
{
  /* ??? */
  display: none;
  position: relative;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

}

.search-bnt
{
  border: 1px solid red;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -2px;
  right: -2px;
  
  cursor: pointer;
  
  opacity: 0; /* hide checkbox */
  z-index: 2; /* 돋보기 앞에 배치 */
  
  -webkit-touch-callout: none;
}

 /* 
  * 토글 인풋변환
  */
  .search-bnt:checked ~ #search
  {
    /* opacity: 1; */
    transform-origin: 0% 0%;
    height: auto;
    padding: 15px 0px 15px 0px;
    transform: translate(0,-2%);
    background: cdcdcd;

   transition: padding 0.5s cubic-bezier(0.4,0.2,0.05,2.0);
  }
  /* #searchToggle input:checked ~ body
  {
    background: #282828;
    position: relative;
  } */

/*
 * 화면 오른쪽 상단에 배치
 */
#search {
   position: fixed;
   width: 100%;
   height: 0;
   top:75px;
   left: 0;
   overflow: hidden;
   /* padding: 15px 0px 15px 0px; */
   background: rgba(71, 71, 71, 0.5);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;

   transform-origin: 0% 0%;
   transform: translate(0%, -2%);

   transition: padding 0.3s cubic-bezier(0.05,0.7,0.5,1.0); 
}
#search input {
  width: 90%;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
  padding: 7px 10px 7px 40px;
  box-sizing: border-box;
  background-color: #f3f3f3;
}
#search input:focus {
  box-shadow: 0 0 0 3px #A550A6 inset;
}

#search span {
  position: relative;
}
#search img {
  position: absolute;
  padding-left: 12px;
  top: 41%;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}